  <footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-l">
          <ul class="contact-list">
            {% if site.title -%}
            <li><a href="{{ site.url | escape }}">{{ site.title | escape }}</a></li>
            {%- endif %}
            <li>{{ site.description | escape }}</li>
          </ul>
        </div>
        <div class="footer-col footer-col-r">
            <ul class="social-media-list">
                {% if site.github_username -%}
                <li><a href="https://github.com/{{ site.github_username | escape }}"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">{{ site.github_username | escape }}</span></a></li>
                {%- endif %}
                {% if site.email -%}
                <li><a href="/feed.xml"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg>Subscribe via RSS</a></li>
            {%- endif %}
        </div>
      </div>
    </div>
  </footer>