<!-- Support for "Latex" (MathJax, same as in weblab and math overflow) formatting -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['\\(','\\)']]
      }
    });
  </script>
  <script type="text/javascript" async src="http://localhost:4000/javascripts/mathjax/es5/tex-svg.js" id="MathJax-script">
</script>
<!--src="http://localhost:4000/javascripts/mathjax/es5/tex-svg.js" id="MathJax-script">-->